<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.edu.eci.arsw.f1manager.persistence.mybatis.mappers.AutomovilMapper">
    
    <update id="actualizarAutomovil">
        UPDATE Automovil SET
            color = #{color},
            aceleracion #{aceleracion},
            resistencia = #{resistencia},
            velocidad = #{velocidad}
        WHERE idAutomovil=#{idAutomovil};
    </update>

    <resultMap type="Automovil" id="AutomovilResult">
        <id property="idAutomovil" column="idAutomovil"/>
        <result property="color" column="color"/>
        <result property="aceleracion" column="aceleracion"/>
        <result property="resistencia" column="resistencia"/>
        <result property="velocidad" column="velocidad"/>
    </resultMap>
</mapper>
