<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.edu.eci.arsw.f1manager.persistence.mybatis.mappers.EstrategiaMapper">
    
    <update id="actualizarEstrategia">
        UPDATE Estrategia SET
            estilo=#{estilo},
            llanta=#{llanta},
            aerodinamico=#{aerodinamico},
            trasmision =#{trasmision}
        WHERE idEstrategia=#{idEstrategia}
    </update>

    <resultMap type="Estrategia" id="EstrategiaResult">
        <id property="idEstrategia" column="idEstrategia"/>
        <result property="llanta" column="llanta"/>
        <result property="aerodinamico" column="aerodinamico"/>
        <result property="trasmision" column="trasmision"/>
        <result property="estilo" column="estilo"/>
    </resultMap>
    
</mapper>