<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.edu.eci.arsw.f1manager.persistence.mybatis.mappers.JugadorMapper">
    
    <update id="actualizarJugador">
        UPDATE Jugador SET
            puntos = #{puntos},
            posicion = #{posicion},
            tiempo = #{tiempo},
            Automovil_idAutomovil = #{idAutomovil},
            Carrera_identificador= #{idCarrera}
        WHERE usuario=#{usuario};
    </update>
    
    

    <resultMap type="Jugador" id="JugadorResult">
        <id property="usuario" column="usuario"/>
        <result property="contrasena" column="contrasena"/>
        <result property="puntos" column="puntos"/>
    </resultMap>

</mapper>
